<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>    
     <add name="CONST_Hospital_DBCONN" providerName="System.Data.SqlClient" connectionString="server=SHUBHAM;database=Hospital_Reception;Trusted_Connection=True"/>
  </connectionStrings>
  <appSettings>
    <add key="CONST_TimeOf_StartOPD" value="10:52 AM"/>
    <add key="CONST_TimeFor_OnePatient" value="8"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.6.1" debug="true"/>
    <httpRuntime targetFramework="4.6.1"/>
    <customErrors mode="Off"/>
    <sessionState timeout="60"/>
  </system.web>
</configuration>